.products {
}

.item {
  text-align: center;
}

.link {
  background: #f1efef;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  height: 274px;
}

.img {
  width: 100%;
  padding-bottom: 30px;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.6, 1);

  &:hover {
    transform: scale(2);
  }
}

.name {
  font-size: 14px;
  margin: 12px 0 8px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  color: #999999;
  text-transform: uppercase;
}
